* {
    box-sizing: border-box;
  }
 
  html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    overflow-y: scroll;
    letter-spacing: 0.1em;
  }
 
  h1{
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-size: 3.75rem;
    letter-spacing: 0.08em;
    line-height: 1.2em;

    @include lg-min {
      font-size: 3.75rem;
    }

    @include lg-md {
      font-size: 2.5rem;
    }
    @include md {
      font-size: 1.875rem;
    }
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }
 

   .btn {
     border: 2px solid white;
     background-color: rgba(255, 255, 255, 0.1);
     @extend %btn-common;
     @include lg-min {
       height: 60px;
       padding: 18px 20px;
       font-size: 1.125rem;
       min-width: 250px;
    }

    @include lg-md {
      height: 50px;
      padding: 14px 20px;
      font-size: 1rem;
      min-width: 200px;
   }

   @include md {
    height: 40px;
    padding: 9px 20px;
    min-width: 170px;
 }
    }


   .btn-accent {
    @extend %btn-common;
     height: 60px;
     border: 2px solid #2D3651;
     padding: 18px $gap;
     font-size: 1.125rem;
     background-color: rgba(45, 54, 81, 0.8);
     min-width: 350px;
     @include sm {
      width: 100%;
     }
   }