.header-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;

    @include md {
        background-color: rgba(68, 89, 110, 0.25);
        box-shadow: -3px 3px 20px -10px black;
    }

    &__container {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        @extend %container;
      }
  }